# ignore npm, yarn
node_modules/
yarn.lock
yarn-error.log

# ignore ts build
dist/
*.tgz

# ignore dev data
/data/

# ignore digital ocean
digital_ocean_instructions.md
cloud-config.yml

# ignore env
.env

# ignore brew files
brew_pub.bash
